body {
    background-color: #242424;
    color: #ecf0f1;
}
.table {
    background-color: #333;
    color: #fff;
}
.dash-graph {
    background-color: #222;
}

.low-rev {
  background-color: #3a2323 !important;
  color: #ffb3b3 !important;
  font-weight: 600;
}